@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* * Font */
/* @font-face{
  font-family: vazir;
  src: url('./fonts/Vazir.ttf');
} */
@font-face{
  font-family: IRANYekan;
  src: url('./my-fonts/fonts/IranYekan.ttf');
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.Lato-light {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
}
@media (max-width: 500px) {
  .Lato-light {
    font-size: 12px;
  }
}

/* @import url(https://db.onlinewebfonts.com/c/1510aa80463174b1d0847ab936a70e8e?family=IRANYekanWeb); */

.iranyekan-font{
  font-family: "IRANYekan";
}

.iranyekan-very-light-small {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 10px;
  font-weight: lighter;
  font-style: normal;
  color: rgb(145, 145, 147);
}
.iranyekan-very-light {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: lighter;
  font-style: normal;
  color: rgb(145, 145, 147);
}

.iranyekan-very-light-white {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: 200;
  font-style: normal;
}
.iranyekan-little-light {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 200;
  font-style: normal;
}
.iranyekan-light {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  color: rgb(145, 145, 147);
}
.iranyekan {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;
}
.iranyekan-very-medium {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
}

.iranyekan-medium {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
}

.iranyekan-low-bold {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
}

.iranyekan-bold {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
}

.iranyekan-very-bold {
  font-family: "IRANYekan";
  font-optical-sizing: auto;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 1000px) {
  .iranyekan-medium {
    font-size: 19px;
  }
  .iranyekan-light {
    font-size: 15px;
  }
  .iranyekan-very-bold {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .iranyekan-medium {
    font-size: 18px;
  }
  .iranyekan-light {
    font-size: 13px;
  }
  .iranyekan-bold {
    font-size: 13px;
  }
  .iranyekan-very-light {
    font-size: 10px;
  }
  .iranyekan-low-bold {
    font-size: 10px;
  }
  .iranyekan-very-medium {
    font-size: 11px;
    font-weight: 300;
  }
  .iranyekan-very-bold {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .iranyekan-medium {
    font-size: 14px;
  }
  .iranyekan-light {
    font-size: 11px;
  }
  .iranyekan-little-light {
    font-size: 10px;
  }
  .iranyekan-bold {
    font-size: 10.4px;
  }
  .iranyekan-very-light {
    font-size: 7.8px;
  }
  .iranyekan-low-bold {
    font-size: 9.1px;
  }
  .iranyekan {
    font-size: 12px;
  }
}

.vazir-very-little {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.vazir-very-light {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;
}
.vazir-light {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
}

.vazir-regular {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;
}
.vazir-regular-bold {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}
.vazir-medium {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
}

.vazir-bold {
  font-family: "Vazirmatn", sans-serif;
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.vazir-very-bold {
  font-family: "Vazirmatn", sans-serif;
  font-size: 38px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
@media (max-width: 850px) {
  .vazir-medium {
    font-size: 15px;
  }
  .vazir-regular {
    font-size: 13px;
  }
  .vazir-regular-bold {
    font-size: 13px;
  }
  .vazir-light{
    font-size: 16px;
  }
  .vazir-bold{
    font-size: 20px;
  }
  .vazir-very-bold{
    font-size: 32px;
  }
}

@media (max-width: 680px) {
  .vazir-medium {
    font-size: 14px;
  }
  .vazir-regular {
    font-size: 12px;
  }
  .vazir-light{
    font-size: 14px;
  }
  .vazir-bold{
    font-size: 16px;
  }
  .vazir-very-bold{
    font-size: 26px;
  }
}

@media (max-width: 550px) {
  .vazir-medium {
    font-size: 10px;
  }
  .vazir-regular {
    font-size: 12px;
  }
  .vazir-regular-bold {
    font-size: 11px;
  }
  .vazir-very-light {
    font-size: 11px;
  }
  .iranyekan-very-light-white {
    font-size: 10px;
  }

  .vazir-light{
    font-size: 10px;
  }
  .vazir-bold{
    font-size: 11px;
  }
  .vazir-very-bold{
    font-size: 14px;
  }
}

/* * End Font */

.main {
  width: 92%;
}
@media (max-width: 1023px) {
  .main {
    width: 100%;
  }
}

/* * Hero */

.bg-hero {
  background-image: radial-gradient(#dde8ef 44%, #fafafa, #fafafa);
}
.dark{
  background: linear-gradient(to top,#000000,#3a3a3b,#4545469e,#ffffff00);
}
/* * End Hero */

/* * Sidebar */
.side-bar {
  width: 8%;
}
/* * End Sidebar */

/* * Category */
.border-bottom {
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-bottom: 0;
  border-top: 6px solid #184977;
}
@media (max-width: 800px) {
  .border-bottom {
    width: 0;
    height: 0;
    border: 29px solid transparent;
    border-bottom: 0;
    border-top: 6px solid #184977;
  }
}
@media (max-width: 500px) {
  .border-bottom {
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom: 0;
    border-top: 6px solid #184977;
  }
}
/* * End Category */

/* * Footert User */
.trapezoid {
  border-bottom: 70px solid #184977;
  border-right: 140px solid transparent;
}
@media (max-width: 500px) {
  .trapezoid {
    border-bottom: 70px solid #184977;
    border-right: 100px solid transparent;
  }
}
/* * End Footert User */

/* * Checkbox */
.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
 
}
/* * End Checkbox */
